<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <servlet>
        <servlet-name>AuthImage</servlet-name>
        <servlet-class>servlet.AuthImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthImage</servlet-name>
        <url-pattern>/authImage</url-pattern>
    </servlet-mapping>
</web-app>
